.cards-border {
  border-color: $main-blue;
  border-radius: 8px;
  border-style: solid;
  padding: 16px;
}


.title {
  margin-top: 5px;
  margin-left: 10px;
  font-family: $montserrat;
  font-weight: bold;
  color: $text-white;
  font-size: 18px;
}


.btn-inv {
border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  background-color: $secondary-orange;
  color: $text-white;
  text-decoration: none;
  padding: 4px;
  height: 38px;
  &:hover {
    text-decoration: none;
    color: $main-blue;
  }
}


// .floating{

//   transform: translatey(0px);
//   animation: float 6s ease-in-out infinite;
//   &:hover {
//     animation-play-state: paused;
//   }
// }

// .floating:hover + .boxy-boy > .landing-title {
//   transform: translate(0px,-8px);

// }
