.navbar-lewagon {
  justify-content: space-between;
  background: $main-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


// .nav-link {
//   font-family: $montserrat;
//   font-weight: bold;
//   color: $text-white;
// }


.navbar-light .navbar-nav .nav-link {
  font-family: $montserrat;
  font-weight: bold;
  color: $text-white;
  &:hover {
    color: $secondary-orange;
  }
}


.navbar-brand {
  display: flex;
  align-items: center;
  h1 {
    font-family: $montserrat;
    font-weight: bold;
    color: $text-white;
    font-size: 20px;
    margin-bottom: 0px;
  }
}


.dropdown-menu {
  background-color: $main-blue;
  border-color: $secondary-orange;
  border-radius: 6px;
  font-size: 14px;
}


.dropdown-item {
    font-family: $raleway;
    font-weight: bold;
    color: $text-white;
   &:hover {
    background-color: transparent;
    color: $secondary-orange;
  }
}

.dropdown {
  cursor: pointer;
}
